/*
================================
Contact form
================================
*/

.contact-container {
    background-color: lightgrey;
    padding: 20px;
    width: 500px;
    border-radius: 2%;
    margin-top: 50px;
}

/*
================================
Images
================================
*/

#headshot {
    width: 325px;
    margin-bottom: 30px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Girassol', cursive;
}

/*
================================
About-Me
================================
*/

#about-me {
    border-bottom: 3px solid black;
    padding-bottom: 25px;
}

/*
================================
Index form
================================
*/

#index-page {
    background-color: lightgrey;
    border-radius: 2%;
    padding: 20px;
}

/*
================================
Portfolio form
================================
*/

#portfolio-images {
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}

/*
================================
Typography
================================
*/

.col p {
    font-family: 'Girassol', cursive;
    font-size: 20px;
}

h1 {
    font-family: 'Girassol', cursive;
}

.footer-text {
    position: absolute;
    text-align: center; 
    padding-left: 40%;
}

/*
================================
Footer
================================
*/

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: lightgrey;
}


