/*
================================
Contact form
================================
*/

.contact-container {
    background-color: lightgrey;
    padding: 20px;
    width: 500px;
    border-radius: 2%;
    margin-top: 50px;
}

/*
================================
Images
================================
*/

#headshot {
    width: 325px;
    margin-bottom: 30px;
}

/*
================================
Images
================================
*/

#about-me {
    border-bottom: 3px solid lightgrey;
    padding-bottom: 25px;
}