body {
    background-image: url(../../assets/images/_MG_9251.jpg);
    background-size: cover;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.portfolio-container {
    background-color: #1b1716;
    border-radius: 3px;
    padding-top: 10px;
}

.repo-btn {
    background-color: #1f5d2f;
    border-color: #1f5d2f;
    margin-bottom: 4px;
}

.deploy-btn {
    background-color: #38515b;
    border-color: #38515b;
    float: right;
}

.repo-btn:hover {
    background-color: #1b1716;
    border-color: #1b1716;
    color: #f3f7fb;
}

.deploy-btn:hover {
    background-color: #1b1716;
    border-color: #1b1716;
    color: #f3f7fb;
}

.repo-btn:active {
    background-color: #1b1716;
    border-color: #1b1716;
    color: #f3f7fb;
}

.repo-btn:focus {
    background-color: #1b1716;
    border-color: #1b1716;
    color: #f3f7fb;
}

.repo-btn:focus-within {
    background-color: #1b1716;
    border-color: #1b1716;
    color: #f3f7fb;
}

.deploy-btn:active {
    background-color: #1b1716;
    border-color: #1b1716;
    color: #f3f7fb;
}

.deploy-btn:focus {
    background-color: #1b1716;
    border-color: #1b1716;
    color: #f3f7fb;
}

.deploy-btn:focus-within {
    background-color: #1b1716;
    border-color: #1b1716;
    color: #f3f7fb;
}