.nav-logo {
    width: 175px;
}

.bg-color {
    background-color: #25252a !important;
    margin-bottom: 50px;
}

.text-color {
    color: #f3f7fb !important;
}

.btn-nav {
    border-bottom: solid 2px #25252a;
    border-top: solid 2px #25252a;
}

.btn-nav:hover {
    border-bottom: solid 2px #1f5d2f;
    border-top: solid 2px #38515b;
    color: #f3f7fb;
}

.btn-nav:active {
    background-color: #38515b;
}

.drop-menu {
    background-color: #25252a;
}
