.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #25252a;
    color: #f3f7fb;
}

.center-footer {
    padding-left: 15px;
    text-align: left; 
}

.icons {
    padding-left: 10px;
}