body {
    background-image: url(../../assets/images/_MG_9251.jpg);
    background-size: cover;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inconsolata', monospace;
}


.headshot {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.container {
    padding-top: 50px;
    border-radius: 3px;
}

.body-text {
    color: #f3f7fb;
    background: #25252a;
}

.home-heading {
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 600;
}